<div class="hg-auth-login-container">
  <form [formGroup]="form" class="hg-auth-login-form">
    <img class="main-logo" height="128" src="assets/images/HydroGuardian-Dark.png" width="512" />
    <div class="form-group">
      <input class="form-control" formControlName="email" placeholder="Username" />
    </div>
    <div class="form-group">
      <input class="form-control" formControlName="password" placeholder="Password" type="password" />
    </div>
    <button (click)="submit()" class="btn btn-primary">Sign in</button>
  </form>
</div>
