$onyx-dark: #1f2224;
$onyx: #393e41;
$onyx-light: #5e6568;

$timberwolf-dark: #b2afab;
$timberwolf: #d3d0cb;
$timberwolf-light: #d3d0cb;

$platinium-dark: #c8c5bd;
$platinium: #e7e5df;
$platinium-light: #f6f4f1;

$keppel-dark: #1f665c;
$keppel: #44bba4;
$keppel-light: #77d8c9;

$saffon-dark: #d19b32;
$saffon: #e7bb41;
$saffon-light: #f4d573;
